---
layout: default
---

<article class="page">
    <span>
        <div class="entry">
            <img align="left" height="400" src="../images/weimer-small.png">

            <b>Research Assistant Professor</b>
            Department of Computer and Information Science
            School of Engineering and Applied Sciences
            University of Pennsylvania

            <b>Research Assistant Professor</b>
            Department of Biomedical and Health Informatics
            Children's Hospital of Philadelphia
        </div>
    </span>

    <div class="entry">
        {{ content }}
    </div>
</article>
